@charset 'utf-8';
/*브라우저에 꽉 차게하는 박스*/
html, body{
    width: 100%;
    height: 100%;
}
/*마우스 이벤트에 적용할 콘텐츠 박스*/
/*.wheel_content{
    width: 100%;
    height: 100%;
}
.wheel_content img{
    width: 100%;
    height: 100%;
}*/